body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://i.pinimg.com/736x/13/21/3d/13213dd52d0529e1692b1da3c4bcf279.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #100d0d; 
}

.container {
    background-color: #ffffff; 
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 25px;
}

#imcForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #af4c7f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; 
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #871f6b;
}

#resultado {
    margin-top: 25px;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    min-height: 20px; 
}

#imagen-imc-container {
    margin-top: 20px;
    display: flex; 
    justify-content: center; 
}

#imagenIMC {
    max-width: 150px;
    height: auto;
}